.anim-rotate-step-8 {
    -webkit-animation:spin 1s steps(8) infinite;
    -moz-animation:spin 1s steps(8) infinite;
    animation:spin 1s steps(8) infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}