@import "Colors.scss";

button {
    border: 1px solid $color-primary-base;
    border-radius: 0px;
    outline: none;
    background-color: $color-primary;

    text-transform: uppercase !important;
    color: $color-light;
    font-size: 12px !important;
    letter-spacing: 1px;

    margin: 4px 0 4px 0;
    cursor: pointer;
    padding: 7px 16px !important;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;

    &:hover {
        background-color: $color-primary-base;
    }

    &.small {
        padding: 5px 8px !important;
        font-size: 12px !important;
    }

    &.success {
        background-color: $color-success;
        border: 1px solid $color-success-base;

        &:hover {
            background-color: $color-success-base;
        }
    }

    // Danger variation
    &.danger {
        background-color: $color-danger;
        border: 1px solid $color-danger-base;

        &:hover {
            background-color: $color-danger-base;
        }
    }

    &.info {
        background-color: $color-info;
        border: 1px solid $color-info-base;

        &:hover {
            background-color: $color-info-base;
        }
    }

    &.active {
        background-color: $color-light;
        color: $color-primary-base;
        border-width: 1px;
    }

    &:disabled {
        background-color: $color-light-gray;
        border: 1px solid $color-gray;
        color: $color-gray;
        
        &:hover {
            background-color: $color-light-gray;
            cursor: default;
        }
    }

}

.button-group {
    display: flex;
    flex-direction: row;
    button {
        flex-grow: 1;
    }
}