$color-primary: #4e7c84;
$color-primary-base: #28484e;
$color-success: #4e845a;
$color-success-base: #3e6947;
$color-danger: #c05144;
$color-danger-base: #7a332b;
$color-info: #3f6f97;
$color-info-base: #28484e;

$color-gray: #bdc3c7;
$color-light-gray: #ecf0f1;
$color-light: #f5f5f5;
$color-black: #000000;