.labeled-form {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    align-items: center;
    span {
        display: inline-block;
        margin-right: 8px;
        white-space: nowrap;
        min-width: 50px;
    }
    select {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        height: 1.8em;
    }
    input {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        height: 1.8em;
    }
}

.control-group {
    user-select: none;
    text-align: left;
}