.labeled-form {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    align-items: center;
    span {
        margin-right: 8px;
        white-space: nowrap;
    }
    select {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }
    input {
        width: 100%;
    }
}

.control-group {
    text-align: left;
    input {
        font-size: 0.8rem;
    }
}