.side-menu-container {
    font-size: 0.8rem;
    overflow-y: auto;
}

.modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
    background-color: rgba(0,0,0,0.60);
}