.side-menu-container {
    font-size: 0.8rem;
    overflow-y: auto;
}

.modal-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}

.modal-mask.dark {
    background-color: rgba(0,0,0,0.60);
}

.modal-mask.loading {
    cursor: wait !important;
}

.resize-border-v {
    width: 10px;
    cursor: w-resize;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn-toggle-menu {
        border-style: solid;
        border-color: whitesmoke;
        margin: 0;
        padding: 0;
        background: transparent;
        color: black;
        font-family: monospace;
        font-size: 0.8em;
    }
}

.resize-border-v.left {
    border-left: 1px solid black;
    .btn-toggle-menu {
        border-width: 2px 2px 2px 0px;
    }
}

.resize-border-v.right {
    border-right: 1px solid black;
    .btn-toggle-menu {
        border-width: 2px 0px 2px 2px;
    }
}

