.filter-box-proto {
    stroke: white;
    stroke-opacity: 1;
    fill: blue;
    fill-opacity: 0.3;
    z-index: 999;
}

 
.filter-box {
    stroke: white;
    stroke-opacity: 0.9;
    fill: #595959;
    fill-opacity: 0.60;
    stroke-width: 2px;
    z-index: 998;
}